
<h3>Doctors</h3>
<% @doctorArr.each do |doctor| %>
  <%= doctor[:name] %>
  <img src='<%= doctor[:image_url]%>' width="50" >
  <img src='<%= doctor[:actor_image_url]%>' width="50" >
<% end %>

<h3>Companions</h3>
<% @companionArr.each do |companion| %>
  <%= companion[:name] %>
  <img src='<%= companion[:image_url]%>' width="50" >
  <img src='<%= companion[:actor_image_url]%>' width="50" >
<% end %>

<h3>Secondaries</h3>
<% @secondaryArr.each do |secondary| %>
  <%= secondary[:name] %>
  <img src='<%= secondary[:image_url]%>' width="50" >
<% end %>

<h3>Villains</h3>
<% @villainArr.each do |villain| %>
  <%= villain[:name] %>
  <img src='<%= villain[:image_url]%>' width="50" >
<% end %>

<h3>Planets</h3>
<% @planetArr.each do |planet| %>
  <%= planet[:name] %>
<% end %>

<h3>Episodes</h3>
<% @episodeArr.each do |episode| %>
  <ul>
    <li>Episode Name: <%= episode[:name] %> </li>
    <li>Story ID: <%= episode[:story_id] %> </li>
    <li>Air Date: <%= episode[:air_date] %> </li>
    <li>Director: <%= episode[:director] %> </li>
    <li>Writer: <%= episode[:writer] %> </li>
    <li>Doctor Actor:
      <%= episode[:doctor]["actor_name"] %>
    </li>
    <li>Companions:
      <% episode[:companions].each do |companion| %>
        <%= companion["name"] %> <br>
      <% end %>
    </li>
  </ul>
  <br>
<% end %>
